body{
    margin:0;
    padding:0;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
.contain{
    display:flex;
    flex-direction: row;
    width:100vw;
    height:100vh;
    
}
.main-section{
    display:flex;
    justify-content:center;
    flex-direction:column;
    background-color:#fafafa;
    width:65vw;
    padding-top: 30px;
}
.side-section{
    background-image: url('leaves.jpg');
    width:35vw;

    background-repeat:no-repeat;
    background-size:cover;

}
.header{
    height:33vh;
   
}
h4{
    margin-left: 20px;
}
.blur{
    width:100%;
}
.formContain{
    background-color: white;
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;

}
.form{
    display:flex;
    height:33vh;

}
.formDiv{
    display:flex;
    flex-direction:column;
    margin:0px 20px;
}
input{
    margin-bottom: 15px;
    border:1px solid#e5e7eb;
    width:200px;
    height:25px;
}
.create{
    display:flex;
    flex-direction:column;
    margin-left:20px;
    height:33vh;
}
.create button{
    width:150px;
    color:white;
    padding:5px;
    background-color: darkolivegreen;
    border-color:darkolivegreen ;
    border-radius: 5px;
    margin-bottom: 15px;
}
.odin{
    width:100px;
    height:auto;
}